@page
@model University.Pages.CreateStudentDiplomaModel
@{
}

<h2>Get your VC Diploma (CredentialOffer)</h2>

<p>A student can use this page to get a diploma for a successfully course completion.</p>
<p>Access to this page and the diploma is controlled by the university administrator.</p>
<p>The creates a new credential VC offer.</p>

<form method="post" class="col-lg-6 col-md-9 col-sm-12">

    <div class="mb-3">
        <label for="DiplomaTemplateId" class="form-label">Select your diploma *</label>
        <select name="Diploma.DiplomaTemplateId" asp-items="Model.DiplomaTemplates" class="form-control" aria-describedby="diplomaTemplateIdHelp"></select>
        <div id="diplomaTemplateIdHelp" class="form-text">Choose the diploma in the wallet you would like add to your wallet</div>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email *</label>
        <input type="email" class="form-control" required asp-for="@Model.Diploma.Email" id="FirstName" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">student email</div>

        <label for="FirstName" class="form-label">FirstName *</label>
        <input type="text" class="form-control" required asp-for="@Model.Diploma.FirstName" id="FirstName" aria-describedby="firstNameHelp">
        <div id="firstNameHelp" class="form-text">First name</div>

        <label for="LastName" class="form-label">LastName *</label>
        <input type="text" class="form-control" required asp-for="@Model.Diploma.LastName" id="LastName" aria-describedby="lastNameHelp">
        <div id="lastNameHelp" class="form-text">Surname</div>

        <label for="DateOfBirth" class="form-label">DateOfBirth *</label>
        <input type="text" class="form-control" required asp-for="@Model.Diploma.DateOfBirth" id="DateOfBirth" aria-describedby="dateOfBirthHelp">
        <div id="dateOfBirthHelp" class="form-text">Date of birth from student</div>

        <label for="DiplomaTitle" class="form-label">Diploma title *</label>
        <input type="text" class="form-control" required asp-for="@Model.Diploma.DiplomaTitle" id="DiplomaTitle" aria-describedby="diplomaTitleHelp">
        <div id="diplomaTitleHelp" class="form-text">Title of diploma</div>

        <label for="DiplomaSpecialisation" class="form-label">Diploma specialisation *</label>
        <input type="text" class="form-control" required asp-for="@Model.Diploma.DiplomaSpecialisation" id="DiplomaSpecialisation" aria-describedby="diplomaSpecialisationHelp">
        <div id="diplomaSpecialisationHelp" class="form-text">Diploma specialisation</div>
    </div>

    <button type="submit" class="btn btn-primary col-12">Get your Diploma</button>
</form>
